:host daypicker {
    table {
        background: white;
    }
    .text-muted {
        color: black;
    }
}

.datepicker-popup-container {
    display: inline-block;
}

.dp-popup {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    z-index: 5;
}

.fa-calendar {
    cursor: pointer;
}
