$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
/*@import "~font-awesome-sass/assets/stylesheets/_font-awesome-sprockets";
@import "~font-awesome-sass/assets/stylesheets/_font-awesome";*/
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss"; /* You can add global styles to this file, and also import other style files */
